Flask==1.1.1
gunicorn==19.9.0
matplotlib==3.4.1
numpy==1.20.2
pandas==1.2.3
streamlit==0.79.0
xgboost==0.90

joblib
requests
explainerdashboard==0.3.6.1
scikit-learn==0.22.1
Pillow==7.0.0
